{% extends 'base.html.twig' %}

{% block title %}Calendrier avant connexion
{% endblock %}

{% block body %}

	{% include 'menu/_menu.html.twig' %}

	<div class="mois">
		<div class="size">&lt;</div> <h5>MAI</h5> <div class="size">&gt;</div>
		<a href="#point"><button class="bouton">Aujourd'hui</button></a>
	</div>

	<table>
		<tr id="date">
			<th>Collaborateurs</th>
			<th>LUN<br>2</th>
			<th id="point" class="jourJ">MAR<br>3</th>
			<th>MER<br>4</th>
			<th>JEU<br>5</th>
			<th>VEN<br>6</th>
			<th>LUN<br>9</th>
			<th>MAR<br>10</th>
			<th>MER<br>11</th>
			<th>JEU<br>12</th>
			<th>VEN<br>13</th>
			<th>LUN<br>16</th>
			<th>MAR<br>17</th>
			<th>MER<br>18</th>
			<th>JEU<br>19</th>
			<th>VEN<br>20</th>
			<th>LUN<br>23</th>
			<th>MAR<br>24</th>
			<th>MER<br>25</th>
			<th>JEU<br>26</th>
			<th>VEN<br>27</th>
			<th>LUN<br>30</th>
			<th>MAR<br>31</th>
			<th>MER<br>1</th>
			<th>JEU<br>2</th>
			<th>VEN<br>3</th>
			<th>LUN<br>4</th>
			<th>MAR<br>5</th>
			<th>MER<br>6</th>
			<th>JEU<br>7</th>
			<th>VEN<br>8</th>
			<th>LUN<br>11</th>
			<th>MAR<br>12</th>
			<th>MER<br>13</th>
			<th>JEU<br>14</th>
			<th>VEN<br>15</th>
			<th>LUN<br>18</th>
			<th>MAR<br>19</th>
			<th>MER<br>20</th>
			<th>JEU<br>21</th>
			<th>VEN<br>22</th>
			<th>LUN<br>25</th>
			<th>MAR<br>26</th>
			<th>MER<br>27</th>
			<th>JEU<br>28</th>
			<th>VEN<br>29</th>
			<th>LUN<br>1</th>
		</tr>
		<tr>
			<td class="collab">Sarah</td>
			<td id="survol">JPF<div id="cercle">AO</div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td class="epai">JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td class="epai">JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td class="epai">JPF<div id="cercle"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Férié<div id="cercleConge"></div>
			</td>
			<td id="fond" class="epai">Congé<div id="cercleConge"></div>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
		</tr>
		<tr>
			<td class="collab">Christophe</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td class="epai">Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td class="epai">Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td class="epai">Ordo<div id="cercle1"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Férié<div id="cercleConge"></div>
			</td>
			<td id="fond" class="epai">Congé<div id="cercleConge"></div>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
		</tr>
		<tr>
			<td class="collab">Adrien</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td class="epai">Enedis<div id="cercle2"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond" class="epai">Congé<div id="cercleConge"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td class="epai">Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td id="fond">Férié<div id="cercleConge"></div>
			</td>
			<td class="epai">Enedis<div id="cercle2"></div>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
		</tr>
		<tr>
			<td class="collab">Clara</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td class="epai">Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td>Ordo<div id="cercle1"></div>
			</td>
			<td class="epai">Ordo<div id="cercle1"></div>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td id="fond">Férié<div id="cercleConge"></div>
			</td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
		</tr>
		<tr>
			<td class="collab">Jean</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td class="epai">JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td class="epai">JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td class="epai">JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td>JPF<div id="cercle"></div>
			</td>
			<td id="fond">Férié<div id="cercleConge"></div>
			</td>
			<td class="epai">JPF<div id="cercle"></div>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
		</tr>
		<tr>
			<td class="collab">Paul</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond" class="epai">Congé<div id="cercleConge"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td class="epai">Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td class="epai">Enedis<div id="cercle2"></div>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td id="fond">Férié<div id="cercleConge"></div>
			</td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
		</tr>
		<tr>
			<td class="collab">Inès</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td class="epai">Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td class="epai">Enedis<div id="cercle2"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond" class="epai">Congé<div id="cercleConge"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td>Enedis<div id="cercle2"></div>
			</td>
			<td id="fond">Férié<div id="cercleConge"></div>
			</td>
			<td class="epai">Enedis<div id="cercle2"></div>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
		</tr>
		<tr>
			<td class="collab">Chloé</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td class="epai">EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td class="epai">EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td class="epai">EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td id="fond">Férié<div id="cercleConge"></div>
			</td>
			<td class="epai">EDF<div id="cercle3"></div>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
		</tr>
		<tr>
			<td class="collab">Stéphane</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td class="epai">France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td class="epai">France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td class="epai">France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td id="fond">Férié<div id="cercleConge"></div>
			</td>
			<td class="epai">France<div id="cercle4"></div>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
		</tr>
		<tr>
			<td class="collab">Magalie</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td class="epai">EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td class="epai">EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td class="epai">EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td>EDF<div id="cercle3"></div>
			</td>
			<td id="fond">Férié<div id="cercleConge"></div>
			</td>
			<td class="epai">EDF<div id="cercle3"></div>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
		</tr>
		<tr>
			<td class="collab">Maurice</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond">Congé<div id="cercleConge"></div>
			</td>
			<td id="fond" class="epai">Congé<div id="cercleConge"></div>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td id="fond">Férié<div id="cercleConge"></div>
			</td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
		</tr>
		<tr>
			<td class="collab">Angélique</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td>France<div id="cercle4"></div>
			</td>
			<td class="epai">France<div id="cercle4"></div>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td id="fond">Férié<div id="cercleConge"></div>
			</td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="epai"></td>
			<td></td>
		</tr>
	</table>

	<link rel="stylesheet" href="{{ asset('css/menu.css') }}">
	<link rel="stylesheet" href="{{ asset('css/calendrier.css') }}">

	<script>
	
		var enlMenu = document.getElementById("menu");
		var enlMois = document.getElementsByClassName("mois");
		var date = document.getElementById('date');
		var collab = document.querySelectorAll('.collab');

		window.onscroll = function () {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				enlMenu.style.display = "none";
				enlMois[0].style.display = "none";
				date.style.position = "sticky";
				date.style.top = "0";
				date.style.zIndex = "2";
				date.style.backgroundColor = "white";
			} else {
				enlMenu.style.display = "block";
				enlMois[0].style.display = "flex";
				date.style.position = "relative";
			}

			if (document.body.scrollLeft > 20 || document.documentElement.scrollLeft > 20) {
				for( var i = 0; i < collab.length; i++) {
					collab[i].style.position = "sticky";
					collab[i].style.left = "0";
					collab[i].style.zIndex = "1";
					collab[i].style.backgroundColor = "white";
				}	
			} else {
				collab.style.position = "relative";
			}
		};

	</script
{% endblock %}
